CompileFlags:
  CompilationDatabase: _build/compile_commands.json
  
Diagnostics:
  UnusedIncludes: None    # turn OFF unused-include diagnostics for this project
  MissingIncludes: None   # optional: keep missing-include checks if you like them